<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="container-login" fxLayout="column" fxLayoutAlign="space-around center">

            <a routerLink="/">
                <img height="90px" fxFlexOffset="15" src="/assets/logo-litopro-w.png" alt="Logo-LitoPro">
            </a>

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input name="email" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repetir Password</mat-label>
                <input matInput>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-button>Iniciar sesión</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button type="submit" mat-raised-button color="primary">Crear cuenta</button>
            </div>
        </div>
    </form>


    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button (click)="obtenerDocumentos()" type="button" mat-raised-button color="primary">Crear cuenta</button>
    </div>


</mat-card>