<mat-grid-list class="container-single" cols="4" rowHeight="80px">

    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Costos</mat-label>
            <input matInput placeholder="nombre o identificaciòn">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ganancias</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-grid-tile>



</mat-grid-list>


<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
    <button mat-raised-button color="warn"> Cancelar </button>
    <button mat-raised-button color="primary"> agregar </button>
</div>