<div class="container" [class.is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>


        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="grow">
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="50px">

                <a routerLink="/">
                    <img height="40px" fxFlexOffset="15" src="/assets/logo-litopro-w.png" alt="Logo-LitoPro">
                </a>

                <form>
                    <mat-form-field appearance="outline">
                        <input type="search" matInput placeholder="Buscar">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>


            </div>
            <div fxLayout="row" fxLayoutGap="30px">
                <mat-icon>comments</mat-icon>
                <mat-icon>notification_important</mat-icon>
                <mat-icon>settings</mat-icon>
            </div>

        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav [opened]="true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <img width="120px" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-selection-list [multiple]="false">
                <mat-list-option routerLink={{nav.link}} routerLinkActive="active" *ngFor="let nav of fillerNav">
                    <nav> {{nav.nombre}} </nav>
                </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <div class="all-content">
                <router-outlet></router-outlet>
                <app-calculadora></app-calculadora>
            </div>

            <!--div fxFlex="20" fxLayout="column" fxLayoutAlign="space-evenly center" style="background-color: #929eaa61;">
                    dos
                </div-->

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>